h2 {
    text-align: center;
}

body {
    background-color: rgb(39, 39, 39);
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "header header"
        "nav content";
    height: 95vh;
}

.header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

.nav {
    grid-area: nav;
    background-color: #f2f2f2;
    padding: 10px;
    position: relative;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #fff;
    overflow: auto;
    padding: 10px;
}


.department_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.department_form label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.department_form input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ccc;
    color: black;
}

.department_form button[type="submit"] {
    padding: 8px 16px;
    background-color: rgb(65, 61, 61);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.department_form button[type="submit"]:hover {
    background-color: rgba(65, 61, 61, 0.8);
}

.department_form textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ccc;
    color: black;
    resize: vertical;
}

.function_box {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

.function_box h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
}

.function_box p {
    margin-bottom: 10px;
}

.title_box {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.success-message {
    color: green;
    font-weight: bold;
}