.header_form {
    display:flex;
    justify-content:space-between;
    position: relative;
}

.header_form>div{
    display:inline-flex;
}

label{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

select {
  width: 100%;
  padding: 20px 15px;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
}

